.App {
  text-align: center;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 94px 24px;
  margin: 31px 101px;
  box-sizing: border-box;
  background-color: grey;

}

.List{
  text-align: center;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: lightblue;
  padding: 94px 24px;
  margin: 31px 101px;
  box-sizing: border-box;
}

